.header {
  height: 80px;
  background-color: darkviolet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentSection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
